html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans Narrow', sans-serif;
}

#panel {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}

#map-canvas {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#add-location {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin:0 auto;
    border: 0;
    background-color: green;
}
.wrapper {
    width: 100%;
    height: 100%;
    float:left;
}
.row {
    padding: 8px;
}
.navigation {
    margin:0 auto;
    width: 300px;
}
.navigation a {
    background: #ddd;
    height: 40px;
    display: inline-block;
    width: 45%;
}
/* Main Screen*/

.main-screen {
    position: absolute;
    left: 10%;
    width: 80%;
    color: #ffffff;
    bottom: 50px;
}
.awesome-btn {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #f42f92;
    border: none;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    font-size: 80px;
    color: #fff;
    font-weight: 700;
    box-shadow: 0 10px 0px 0px #ae2268;
    -webkit-box-shadow: 0 10px 0px 0px #ae2268;
    -moz-box-shadow: 0 10px 0px 0px #ae2268;
    font-family: 'PT Sans Narrow', sans-serif;
}
.refresh-btn {
    background: url("../../images/mobile/location-icon.png") no-repeat center #f42f92;
    width: 45px;
    height: 45px;
    display: inline-block;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 10px;
    float: right;
    box-shadow: 0 5px 0px 0px #ae2268;
    -webkit-box-shadow: 0 5px 0px 0px #ae2268;
    -moz-box-shadow:0 5px 0px 0px #ae2268;
}

/******************** TUTORIAL SECTION ********************/
.tutorial{
    width: 100%;
    height: 100%;
    z-index: 200;
    display: none;
}

/* Tutorial slides */
.bxslider li div{
    background: #2c3659;
    margin:0 auto;
    width: 100%;
    height:100%;

}

/* Tutorial close buttons */
.close-tutorial-button{
    float:right;
    padding: 8px;
    font-size: 30px;
    display: block;
    margin: 15px;color: #ffffff;
    width: 25px;
    height: 25px;
    background: url('../../images/mobile/close.png') no-repeat center center;
    background-size: 20px 20px;
}

.tutorial p{
    margin: 0;
    padding-top: 80px;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
}
.tutorial p span{
padding: 10px;
    padding:0;
}

.controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    padding: 0 11px 0 13px;
    z-index: 0;
    position: absolute;
    top: 71% !important;
    left: 10% !important;
    width: 60%;
    padding-top: 35px;
    padding-bottom: 35px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}
@media (max-width: 500px) {
    .awesome-btn {
        font-size: 33px;
    }
    #pac-input {
        top: 79% !important;

    }
}