html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: font-family: 'PT Sans Narrow', sans-serif;
}


#panel {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}

#map-canvas {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#add-location {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin:0 auto;
    border: 0;
    background-color: green;
}
.wrapper{
    width: 100%;
    height: 100%;
    float:left;
}
.row{
    padding: 8px;
}
.navigation{
    margin:0 auto;
    width: 300px;
}
.navigation a{
    background: #ddd;
    height: 40px;
    display: inline-block;
    width: 45%;
}
/* Main Screen*/

.main-screen {
    position: absolute;
    left: 10%;
    width: 80%;
    color: #ffffff;
    bottom: 50px;
}
.awesome-btn {
    width: 100%;
    height: 180px;
    line-height: 165px;
    background: #f42f92;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #ae2268;
    border-bottom-width: 15px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-size: 80px;
    color: #fff;
    font-weight: 700;
}

/******************** TUTORIAL SECTION ********************/
.tutorial{
    width: 100%;
    height: 100%;
    z-index: 200;
    display: none;
}

/* Tutorial slides */
.bxslider li div{
    background: #2c3659;
    margin:0 auto;
    width: 100%;
    height:100%;

}

/* Tutorial close buttons */
.close-tutorial-button{
    float:right;
    padding: 8px;
    font-size: 30px;
    display: block;
    margin: 15px;color: #ffffff;
    width: 25px;
    height: 25px;
    background: url('../../images/mobile/close.png') no-repeat center center;
    background-size: 20px 20px;
}

.tutorial p{
    margin: 0;
    padding-top: 80px;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
}
.tutorial p span{
padding: 10px;
}